.wrapper {
	position: relative;


	display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}

.circleAnimation {
	transition: all 1s linear;
}

.circleWrapper {
	position: relative;
}

.timeWrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	top: 50%;  
	left: 50%; 
    
	transform: translate(-50%, -50%); 
}

.iconButton {
	cursor: pointer;
}
.buttons { 
	display: flex; justify-content: space-between; width: 200px; 
}

.circle {
	transform: rotate(-90deg);
}